<!-- Actions -->
<fieldset>
  <legend>Actions</legend>
  <ul>
    <!-- Upload -->
    <li><%= button_tag "Upload", { id: "upload-btn", onclick: "show_form('upload');" } %></li>
    <li id="upload-field" style="display: none;">
      <fieldset>
        <legend>Upload</legend>
        <ul>
          <%= form_for :files, url: "/upload/" + @dirpath.split('/')[1..-1].map{ |t| ERB::Util.url_encode(t) }.join('/'), method: "post", remote: true do |f| %>
            <li><%= f.file_field "file" %></li>
            <li><%= f.submit "Upload" %></li>
          <% end %>
          <li><%= button_tag "Close Form", { onclick: "hide_form('upload');" } %></li>
        </ul>
      </fieldset>
    </li>
    <!-- Archive -->
    <li><%= button_tag "Archive", disabled: true %></li>
    <!-- New Folder -->
    <li><%= button_tag "New Folder", { id: "newfolder-btn", onclick: "show_form('newfolder');" } %></li>
    <li id="newfolder-field" style="display: none;">
      <fieldset>
        <legend>New Folder</legend>
        <ul>
          <%= form_tag "/newfolder/" + @dirpath.split('/')[1..-1].map{ |t| ERB::Util.url_encode(t) }.join('/'), method: "post", remote: true do %>
            <li><%= text_field_tag "dirname", nil, placeholder: "Folder Name" %></li>
            <li><%= submit_tag "Create", id: "newfolder-btn" %></li>
          <% end %>
          <li><%= button_tag "Close Form", { onclick: "hide_form('newfolder');" } %></li>
        </ul>
      </fieldset>
    </li>
    <!-- Delete -->
    <li><%= button_tag "Delete", { onclick: "confirm('Are you sure?') && submit_table($(location).prop('pathname'), 'DELETE');" } %></li>
    <li><%= button_tag "Move", disabled: true %></li>
    <li><%= button_tag "Copy", disabled: true %></li>
    <!-- Rename -->
    <li><%= button_tag "Rename", { id: "rename-btn", onclick: "open_rename();" } %></li>
    <li id="rename-field" style="display: none;">
      <fieldset>
        <legend>Rename</legend>
        <ul>
          <%= form_tag nil, remote: true, method: "patch", id: "rename-form" do %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <li><%= label_tag "selected" %></li>
            <li><%= text_field_tag "newname", nil, placeholder: "New Name" %></li>
            <li><%= submit_tag "Rename" %></li>
          <% end %>
          <li><%= button_tag "Cancel", { onclick: "hide_form('rename');" } %></li>
        </ul>
      </fieldset>
    </li>
  </ul>
</fieldset>
