<% content_for :title, "rubynas :: #{params[:name]}" %>

<% content_for :panel do %>
  <%= render partial: "users/panel_profile" %>
  <%= render partial: "shared/panel_select" %>
  <%= render partial: "panel_actions" %>
<% end %>

<% content_for :explorer do %>
  <!-- Folder Hierarchy -->
  <nav>
    <% paths = @dirpath.split('/') %>
    <% escaped_paths = paths.map{ |t| ERB::Util.url_encode t } %>
    <% for i in 1..(paths.length - 2) %>
      <span><%= link_to(paths[i], "/" + escaped_paths[1..i].join('/')) %></span> /
    <% end %>
    <span><%= paths.last %></span> /
  </nav>
  <!-- File List Table -->
  <%= form_tag nil, remote: true, id: "table-form" do %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <table class="file-list-table" rules="all">
      <!-- Table Header -->
      <tr>
        <th>Name.Extension</th>
        <th width="100px">Size</th>
      </tr>
        <% Dir.glob("#{@dirpath.gsub(/[\\\{\}\[\]\*\?]/) { |x| "\\" + x }}/*", File::FNM_DOTMATCH)[2..-1].each do |obj| %>
          <tr>
            <td>
              <%= check_box_tag "selected[]", File.basename(obj) %>
              <%= link_to File.basename(obj).gsub(" ", "&nbsp;").html_safe, "/#{params[:name]}/#{obj.split('/')[2..-1].map{ |t| ERB::Util.url_encode t }.join('/')}" %>
            </td>
            <td>
              <% if File.directory? obj %>
                folder
              <% else %>
                <%= byte2pretty File.size(obj) %>
              <% end %>
            </td>
          </tr>
        <% end %>
    </table>
  <% end %>
<% end %>
