<% if current_user %>
  <!-- Profile -->
  <fieldset>
    <legend>Profile</legend>
    <ul>
      <li>Name : <%= current_user.name %></li>
      <li>Email : <%= current_user.email %></li>
      <li><%= button_to "Sign Out", session_path(current_user), method: "delete" %></li>
      <li><%= button_to "My Storage", user_path(current_user), method: "get" %></li>
      <li><%= button_tag "Change Password", { id: "changepassword-open-btn", onclick: "show_form('changepassword');" } %></li>
      <% unless current_user.name == "admin" %>
        <li><%= button_tag "Unregister", { id: "unregister-open-btn", onclick: "show_form('unregister');" } %></li>
      <% end %>
    </ul>
  </fieldset>
  <!-- Change Password -->
  <fieldset id="changepassword-field" style="display: none;">
    <legend>Change Password</legend>
    <ul>
      <%= form_tag update_user_path(current_user), method: "patch", remote: true do |f| %>
        <li><%= password_field_tag "old_password", nil, placeholder: "Current Password" %><li/>
        <li><%= password_field_tag "password", nil, placeholder: "New Password" %><li/>
        <li><%= password_field_tag "password_confirmation", nil, placeholder: "Password Confirmation" %><li/>
        <li><%= submit_tag "Change" %></li>
        <li><%= submit_tag "Reset Form", { type: "reset" } %></li>
      <% end %>
      <li><%= button_tag "Close Form", { onclick: "hide_form('changepassword');"} %></li>
    </ul>
  </fieldset>
  <% unless current_user.name == "admin" %>
    <!-- Unregister -->
    <fieldset id="unregister-field" style="display: none;">
      <legend>Unregister</legend>
      <ul>
        <%= form_tag destroy_user_path(current_user), method: "delete", remote: true do |f| %>
          <li><%= password_field_tag "password", nil, placeholder: "Password" %><li/>
          <li><%= submit_tag "Unregister" %></li>
        <% end %>
        <li><%= button_tag "Close Form", { onclick: "hide_form('unregister');"} %></li>
      </ul>
    </fieldset>
  <% end %>
<% else %>
  <!-- Signin -->
  <fieldset>
    <legend>Signin</legend>
    <ul>
      <%= form_tag sessions_path, remote: true, method: "post", id: "signin-form" do %>
        <li><%= text_field_tag "name", nil, placeholder: "Username" %></li>
        <li><%= password_field_tag "password", nil, placeholder: "Password" %></li>
        <li><%= submit_tag "Sign In" %></li>
      <% end %>
      <li><%= button_tag "Sign Up", { id: "signup-open-btn", onclick: "show_form('signup');" } %></li>
    </ul>
  </fieldset>
  <!-- Signup -->
  <fieldset id="signup-field" style="display: none;">
    <legend>Signup</legend>
    <ul>
      <%= form_for User.new, url: users_path, remote: true, method: "post" do |f| %>
        <li><%= f.email_field "email", placeholder: "Email" %><li/>
        <li><%= f.text_field "name", placeholder: "Username" %><li/>
        <li><%= f.password_field "password", placeholder: "Password" %><li/>
        <li><%= f.password_field "password_confirmation", placeholder: "Password Confimation" %><li/>
        <li><%= f.submit "Sign Up" %><li/>
        <li><%= f.submit "Reset Form", { type: "reset" } %></li>
      <% end %>
      <li><%= button_tag "Close Form", { onclick: "hide_form('signup');"} %></li>
    </ul>
  </fieldset>
<% end %>
