<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <!-- Alert Flash Messages -->
    <%= javascript_tag do %>
      <% flash.each do |key, value| %>
        alert("<%= value %>");
      <% end %>
    <% end %>
    <div id="bodywrapper">
      <!-- Top Logo -->
      <header>
        <div id="wrapper">
          <div class="logo"><%= link_to "rubynas", root_path %></div>
          <div align="right">ServerTime : KST (UTC +0900)</div>
        </div>
      </header>

      <!-- Body -->
      <div class="container">
        <div id="wrapper" class="wrapper">
          <!-- Sidebar. not aside, nav. Action for Explorer -->
          <section class="panel">
            <%= yield :panel %>
          </section>
          <!-- Explorer -->
          <section class="explorer">
            <%= yield :explorer %>
          </section>
        </div>
      </div>

      <!-- Footer -->
      <footer>
        <div id="wrapper">
          <p>ⓒ 2017 | Powered by realkorokke</p>
        </div>
      </footer>
    </div>
  </body>
</html>
